@media screen and (min-width: 1000px) {

    body {
        display: flex;
    }

    header {
        width: 20%;
        display: inline-block;
        text-align: right;
    }

    header ul {
        flex-direction: column;
        text-align: right;
    }

    main {
        width: 50%;

    }
    aside {
        width: 20%;
        display: inline-block;
    }
}
