@media screen and (min-width: 1000px) {
    header{
        width: 20%;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: flex-end;
        margin : 0;
    }
header ul {
    flex-direction: column;
    text-align: right;
}

    main {
        width: 65%;
    }

    aside {
        width: 15%;
    }
}
