@media screen and (min-width: 1000px) {
    header {
        width: 20%;
        display: inline-flex;
    }
    header ul {
        flex-direction: column;
        text-align: right;
    }
    main {
        width: 50%;
        display: inline-block;
    }
    aside {
        width: 20%;
        display: inline-flex;
    }
}
